* {
    box-sizing: border-box;
    padding: 11px;
    margin: 10%;
}

body {
    background-color: #d9dcd6;
}

/* header and navigation styling */

header {
    padding: 40px;
    border-top-width: 0;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: large;
}

<header>
  â€¦
    <h1>
      â€¦
        <element class="seo"> {
    color: #d9dcd6;
}

header nav {
    padding-top: 100px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

<header>
  â€¦
    <nav>
      â€¦
        <ul> {
    list-style-type: counter-style;
}

<header>
  â€¦
    <nav>
      â€¦
        <ul>
          â€¦
            <li> {
    display: inline-block;
    margin-left: 25px;
}

/* body styling */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 100px;
}

/* image styling */

.hero {
    height: 80px;
    width: 10;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* content styling */

/* moved content styling to before aside styling */
/* changed from class to content tag */
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated styles for content */
content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

content article img {
    max-height: 500px;
}

content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* aside styling */

/* changed from benefits class to aside tag */
aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* consolidated benefit styling tags to single benefit article */
aside article {
    margin-bottom: 32px;
    color: #d32323;
}

aside article h3 {
    margin-bottom: 10px;p
    text-align: center;
}

<aside>
  â€¦
    <article>
      â€¦
        <img> {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer styling */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

<footer>
  â€¦
    <h4> {
    font-size: 20px;
} 